p {
    font-size: 1.4rem;
    font-weight: 500;
}

.products-table {
    display: flex;
    width: 100%;
}

.item-table {
    border-bottom: 1px solid gray;
    min-width: 20%;
    /* margin: auto; */
}
.item-image {
    width: 75px;
    height: 75px;
    margin: 8px 0;
    border-radius: 4px;
    object-fit: cover;
    min-width: 20%;

}
.title {
    display: inline-table;
    justify-content: center;
    align-items: center;


    p {
        margin-top: 32px;
        font-size: 1.rem;

    }
}

