.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 120px;

}
.back-to-home {
  margin: 30px;
}
.product-detail {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  gap: 16px;



}
.product-info {
  display: flex;
  flex-direction: column;
  width: 340px;;

  h2 {
    font-size: 1.8rem;
  }
  span {
    font-size: 1.4rem;
    color: gray;
  }
}
.product-description {
  margin-top: 18px;
  width: 340px;
  .area-text{

    height: 157px;
  }
  p {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.6rem;
    margin-bottom: 4px;
  }
}


.pay-cart {
  width: 550px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  justify-content: center;
  display: flex;
  z-index: 555;
  background-color: rgba(206, 191, 191, 0.651);
  color: white;
  font-weight: bold;
  border: 1px solid black;
   span {
    font-size: 1.8rem;
   }
}
.add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.total-price {
  position: absolute;
  bottom: 0;
  margin-bottom: 5vh;
  margin-left: 4vw;
  h3 {
    font-size: 2rem;
  color: brown;

  }
}
