.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
  margin-top: 120px;

}
.back-to-home {
  margin: 30px;
}
.product-detail {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  gap: 16px;



}
.product-info > * {

}
.product-info {
  display: flex;
  flex-direction: column;
  width: 340px;;
  border: 1px solid gray;

  h2 {
    font-size: 1.8rem;
  }
  span {
    font-size: 1.4rem;
    color: gray;
  }
}
.product-description {
  margin-top: 18px;
  width: 340px;
  .area-text{

    height: 157px;
  }
  p {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.6rem;
    margin-bottom: 4px;
  }
}
.add-to-cart {
  width: 100%;
  background-color: black;
  color: white;
  font-weight: bold;
}